.tag-list {
  margin-bottom: 1rem;
  padding: 1rem;
  color: #666;
  background-color: rgba(0,0,0,0.025);
  margin-left: -1rem;
  margin-right: -1rem;
}

.tag-list-item {
  float: left;
}
